@use '~/assets/styles/mixins/typography';

.container {
  position: relative;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: stretch;
  padding: 64px;
  background: var(--background);
  border: 1px solid var(--line);
  border-top: none;
}

.screenshotsContainer {
  position: relative;
  width: 100%;
  max-width: 462px;
  aspect-ratio: 462/509;
}

.themeContainer {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease;
}

.sidebarScreenshot {
  position: absolute;
  top: 98px;
  left: 15px;
  z-index: 2;
}

.mainAppscreenshot {
  display: block;
}

.headline {
  margin-top: 0 !important;
  @include typography.headline-m;
}

.description {
  margin: 0;
  color: var(--text-secondary);
}

.tabsContainer {
  margin: 34px 0;
}

.cardsContainer {
  margin-top: 24px;
}

.shapeVideo {
  position: absolute;
  z-index: 3;
  width: 91px;
  height: 44px;
  pointer-events: none;
  mix-blend-mode: lighten;
}
