.headline {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}

.description {
  margin: 8px 0 12px;
  font-size: 14px;
  color: var(--text-secondary);
}

.form {
  display: flex;
  gap: 4px;
  align-items: stretch;
  margin-top: 12px;
}

.input {
  width: 240px;
  height: 42px;
  padding: 10px 12px;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1;
  color: var(--text);
  background: transparent;
  border: 1px solid var(--neutral-600);
  transition: border-color 0.25s ease;

  &:hover {
    border-color: var(--neutral-500);
  }

  &::placeholder {
    color: var(--text-tertiary);
  }
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: var(--neutral-0);
  appearance: none;
  cursor: pointer;
  background: var(--blue-500);
  border: none;
  transition:
    background 0.25s ease,
    color 0.25s ease;

  &:hover {
    background: var(--blue-600);
  }

  &:active {
    background: var(--blue-700);
  }

  &.isLoading {
    &::after {
      width: 12px;
      height: 12px;
      content: '';
      border: 2px solid var(--neutral-100);
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 0.75s linear infinite;
    }
  }

  &:disabled {
    color: var(--neutral-100) !important;
    cursor: not-allowed;
    background: var(--neutral-600) !important;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.messageContainer {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  margin: 8px 0 0;

  p {
    margin: 0;
  }

  svg {
    flex-shrink: 0;
    margin-top: 3px;
    color: #32d74b;
  }
}
