.container {
  --entry-height: 37px;
  position: relative;

  &:hover {
    .dropdown {
      border-color: var(--neutral-500);
    }
  }
}

.languageEntry {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: var(--entry-height);
  padding: 11px 16px;
  appearance: none;
  background: transparent;

  &:hover {
    .label {
      color: var(--text);
    }

    .triangle {
      color: var(--neutral-200);
    }
  }
}

.otherOption {
  margin-bottom: -39px;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.25s ease,
    margin-bottom 0.25s ease;

  &.isVisible {
    margin-bottom: 0;
    pointer-events: auto;
    opacity: 1;
  }
}

.flag {
  width: auto;
  height: 15px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: var(--neutral-200);
  opacity: 0.6;
  transition: color 0.25s ease;
}

.triangle {
  margin-left: 6px;
  color: var(--neutral-300);
  transition:
    color 0.25s ease,
    transform 0.25s ease;
  transform: rotate(0);

  &.isOpen {
    transform: rotate(180deg);
  }
}

.dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--entry-height);
  border: 1px solid var(--neutral-600);
  transition: border-color 0.25s ease;
}
