@use '~/assets/styles/mixins/typography';

.legal-page {
  max-width: 760px;
  margin: 160px auto 120px;

  h1,
  h2,
  h3 {
    margin: 2.75em 0 0.875em !important;
  }

  h1 {
    @include typography.headline-m;
  }

  h2 {
    @include typography.headline-s;
  }

  p {
    margin: 0.8em 0;
    color: var(--text-secondary);
  }

  a {
    color: var(--text);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    transition: 0.2s ease;

    &:hover {
      color: var(--text-secondary);
    }
  }

  ul,
  ol {
    padding-left: 10px;
    margin: 0 0 1.5em 1.5em;
  }

  li {
    padding-left: 6px;
    margin-bottom: 4px;
    color: var(--text-secondary);
  }
}
