@use '~/assets/styles/mixins/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 32px;
  background: var(--background);
  container-type: inline-size;

  @container (min-width: 700px) {
    flex-direction: row;
    padding: 64px;
  }
}

.headline {
  margin-top: 0;

  @container (max-width: 699.98px) {
    @include typography.headline-m;
  }
  @container (min-width: 700px) {
    @include typography.headline-lg;
  }
}

.description {
  margin: 0;
  color: var(--text-secondary);
}
