.container {
  position: relative;
  display: grid;
  grid-template-areas:
    'logo nav nav'
    'newsletter nav nav'
    'newsletter copyright language-switch';
  grid-template-rows: auto auto auto;
  grid-template-columns: 272px 1fr 272px;
  gap: 20px;
  width: 100%;
  padding: 32px 40px 20px 30px;
  background: var(--background);
  border-top: 1px solid var(--line);
  border-right: 1px solid var(--line);
  border-left: 1px solid var(--line);

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.logoLink {
  display: block;
  grid-area: logo;

  > img {
    display: block;
  }
}

.nav {
  grid-area: nav;
}

.navContainer {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.list {
  a {
    color: var(--text-secondary);
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.listHeadline {
  margin: 0 0 10px;
  font-weight: 500;
  color: var(--text);
}

.newsletterContainer {
  grid-area: newsletter;
  align-self: flex-end;
  justify-self: flex-start;
}

.languageSwitchContainer {
  grid-area: language-switch;
  align-self: flex-end;
  justify-self: flex-end;
}

.copyright {
  grid-area: copyright;
  align-self: flex-end;
  min-width: 70%;
  margin: 0;
  font-size: 12px;
  color: var(--text-secondary);
  text-align: center;
}

.madeByText {
  position: relative;

  &:hover {
    opacity: 1;

    .niceAF {
      opacity: 0;
    }

    .names {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.niceAFLogo {
  margin: -2px 4px 0 5px;
  vertical-align: middle;
}

.niceAF {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.names {
  position: absolute;
  top: -2.45px;
  left: 30px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
  transform: translateY(60%);
}
