.container {
  padding: 130px 0;
  text-align: center;
}

.pillContainer {
  margin-top: 0;
}

.headline {
  --start: var(--text);
  --stop: color-mix(in srgb, var(--text), transparent 23%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  &[data-lines='1'] {
    background-image: linear-gradient(var(--start) 0%, var(--stop) 100%);
  }

  &[data-lines='2'] {
    background-image: linear-gradient(var(--start) 0%, var(--stop) 50%, var(--start) 51%, var(--stop) 100%);
  }

  &[data-lines='3'] {
    background-image: linear-gradient(
      var(--start) 0%,
      var(--stop) 33%,
      var(--start) 34%,
      var(--stop) 66%,
      var(--start) 67%,
      var(--stop) 100%
    );
  }

  &[data-lines='4'] {
    background-image: linear-gradient(
      var(--start) 0%,
      var(--stop) 25%,
      var(--start) 26%,
      var(--stop) 50%,
      var(--start) 51%,
      var(--stop) 75%,
      var(--start) 76%,
      var(--stop) 100%
    );
  }

  &[data-lines='5'] {
    background-image: linear-gradient(
      var(--start),
      var(--stop),
      var(--stop),
      var(--stop),
      var(--stop),
      var(--stop),
      var(--start)
    );
  }
}

.description {
  max-width: 670px;
  margin: 0 auto;
  font-size: 20px;
  color: var(--text-secondary);
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 0;
}
