.section {
  position: relative;
}

.shineContainer {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 4;
  width: 100%;
  max-width: 1114px;
  aspect-ratio: 1114/634;
  pointer-events: none;
  transform: translateX(-50%);

  @for $i from 1 through 4 {
    &:global.is-shine-#{$i} {
      img:nth-child(#{$i}) {
        opacity: 1;
      }
    }
  }
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2.2s linear;
}

.container {
  position: relative;
  padding: 72px 0 92px;
  text-align: center;
  @media (min-width: 768px) {
    padding: 130px 0;
  }
}

.pillContainer {
  margin: 0 0 16px;
}

.headline {
  padding: 0 16px;
}

.icon {
  width: 0.89130435em;
  height: 0.89130435em;
  margin: 0.14em 0.05em 0;
  vertical-align: top;
}

.description {
  max-width: 670px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--text-secondary);
  @media (min-width: 576px) {
    font-size: 20px;
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 0;
  @media (min-width: 576px) {
    margin-top: 40px;
  }
}

.shapeVideo {
  position: absolute;
  z-index: 0;
  width: 72px;
  height: 72px;
  pointer-events: none;
  mix-blend-mode: lighten;
  @media (min-width: 576px) {
    width: 80px;
    height: 80px;
  }
  @media (min-width: 768px) {
    width: 96px;
    height: 96px;
  }
  @media (min-width: 840px) {
    width: 105px;
    height: 105px;
  }
}

.dodecahedron {
  bottom: 32px;
  left: -43px;
  @media (min-width: 360px) {
    bottom: 16px;
  }
  @media (min-width: 430px) {
    bottom: 18px;
  }
  @media (min-width: 490px) {
    bottom: 26px;
  }
  @media (min-width: 576px) {
    bottom: 44px;
    left: -48px;
  }
  @media (min-width: 640px) {
    bottom: 64px;
  }
  @media (min-width: 768px) {
    bottom: 72px;
    left: 50%;
    transform: translateX(-400px);
  }
  @media (min-width: 840px) {
    transform: translateX(-440px);
  }
  @media (min-width: 1024px) {
    transform: translateX(-480px);
  }
}

.cone {
  top: 28px;
  right: -32px;
  @media (min-width: 360px) {
    top: 32px;
  }
  @media (min-width: 430px) {
    top: 38px;
  }
  @media (min-width: 490px) {
    top: 46px;
  }
  @media (min-width: 576px) {
    top: 76px;
    right: -52px;
  }
  @media (min-width: 640px) {
    top: 110px;
  }
  @media (min-width: 768px) {
    top: auto;
    right: auto;
    bottom: 168px;
    left: 50%;
    transform: translateX(320px);
  }
  @media (min-width: 840px) {
    bottom: 178px;
    transform: translateX(360px);
  }
  @media (min-width: 1024px) {
    bottom: 198px;
    transform: translateX(440px);
  }
}
