@use '~/assets/styles/mixins/typography';

.container {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 48px 24px;
  text-align: center;
  background: var(--background);
  container-type: inline-size;

  @media (min-width: 768px) {
    align-items: stretch;
    padding: 32px;
    text-align: left;
  }

  &.isSmall {
    --gap: 32px;
    flex-direction: column;
    align-items: center;
    min-height: 240px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    @media (min-width: 992px) {
      --gap: 20px;
      flex-direction: column;
      align-items: stretch;
      min-height: 0;
    }

    &.isReversed {
      &:nth-child(odd) {
        @media (min-width: 768px) {
          flex-direction: row-reverse;
        }

        @media (min-width: 992px) {
          flex-direction: column;
        }
      }
    }

    .text {
      @media (min-width: 992px) {
        flex: auto;
        min-width: 0;
      }
    }

    .graphicContainer {
      max-width: 360px;

      @media (min-width: 768px) {
        max-width: none;
      }
    }
  }

  &.isLarge {
    --gap: 48px;
    flex-direction: column;
    align-items: center;

    @media (min-width: 576px) {
      padding: 64px 32px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
    }

    @media (min-width: 992px) {
      --gap: 92px;
    }

    @media (min-width: 1280px) {
      padding: 64px;
    }

    @media (max-width: 767.98px) {
      padding-bottom: 1px;
    }

    .headline {
      @media (min-width: 768px) {
        @include typography.headline-m;
      }
    }

    .graphicContainer {
      max-width: 420px;

      @media (min-width: 768px) {
        align-self: stretch;
        max-width: none;
      }
    }
  }
}

.text {
  @media (min-width: 768px) {
    flex: 0 1 calc(50% - var(--gap) + 20px);
    min-width: calc(50% - var(--gap) + 20px);
  }
}

.headline {
  margin-top: 0 !important;

  @include typography.headline-s;
}

.description {
  margin: 0;
  color: var(--text-secondary);
}

.graphicContainer {
  position: relative;
  flex: 1 0 auto;
  align-self: center;
  width: 100%;
  overflow: visible;

  @media (min-width: 768px) {
    width: auto;
  }

  svg {
    width: 100%;
    height: auto;
  }
}
